<br><br>
 <h1>Welcome to my YouTube page!</h1>
<% @videos.each do |videos| %>
<div>
  <h2><a href="/<%= videos[:id]%>"><%= videos[:title]%></a></h2>

  <p><%= videos[:body]%><p>

  <iframe src="<%= videos[:src]%>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

</div>

<% end %>
